@import 'normalize.less';

.clearfix() {
	zoom: 1;
	&:before { content: ''; display: block; }
	&:after { content: ''; display: table; clear: both; }
}

.border-radius(@px: 4px){
	-webkit-border-radius: @px;
	border-radius: @px;
}
.speed-up{
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
.flicker{
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
.transition(@target:all, @duration:200s, @ease:linear) {
	-webkit-transition: @target @duration @ease;
	-moz-transition: @target @duration @ease;
	-o-transition: @target @duration @ease;
	transition: @target @duration @ease;
}

body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

.forest-bg{
	background: url('/forest-bg.jpg') no-repeat top left;
	width: 140%;
	height: 120%;
	left: -20%;
	position: absolute;
	background-size: 100%;
	.transition(all, 200ms, ease);
}

.glow{
	background: radial-gradient(ellipse at center,rgba(0,0,0,0) 50%, rgba(0,0,0,.4) 100%);
	width: 100%;
	height: 100%;
	position: absolute;
}

	.model{
		//display: none;
	
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 999;
		left: 0;
		top: 0;
		background: url('/bg.jpg') no-repeat center center fixed;
		background-size: cover;
		.wrap{
			max-width: 440px;
			margin: 100px auto 0;
			h1{
				text-align: center;
				color: #FFAE00;
				font-family: Rumpelstiltskin;
				font-size: 80px;
				//font-weight: bold;
				-webkit-font-smoothing: antialiased;
				-webkit-text-stroke-color: #6D3412;
				-webkit-text-stroke-width: .5px;
				

				// border-style: solid;
				// border-width: 5px;
				// border-color: #6D3412;
			}
			p{
				font-family: Rumpelstiltskin;
				color: #ddd;
				font-size: 18px;
				line-height: 20px;

			}
			.box{
				background: rgba(255,255,255,.1);
				border: 1px solid #000;
				box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 rgba(255,255,255,.1);
				border-radius: 6px;
				padding: 20px;
				.clearfix;
				.input{
					width: 94%;
					padding: 0 3%;
					font-size: 24px;
					color: #333;
					height: 44px;
					line-height: 52px;
					background: #fff;
					border: 0;
					margin: 0 0 20px;
					box-shadow: 0 0 0 1px rgba(0,0,0,.05);
					border-radius: 4px;
					font-family: Rumpelstiltskin;
					-webkit-font-smoothing: antialiased;
				}
				.join{
					border: 0;
					display: inline-block;
					float: right;
					height: 44px;
					line-height: 48px;
					padding: 3px 10px;
					background: #f2a729;
					color: #fff;
					font-weight: bold;
					font-size: 32px;
					text-transform: uppercase;
					-webkit-font-smoothing: antialiased;
					text-decoration: none;
					font-family: Rumpelstiltskin;
					border-radius: 4px;
					text-shadow: 1px 1px 0 #c33104;
				}
				.join:hover {
					background-color: #eeb653;
				}
			}
		}
	}

#board{
	position: absolute;
	width: 1900px;
	height: 2000px;
	left: 50%;
	top: 50%;
	.transition(all, 200ms, ease);
	.clearfix;
	.square{
		float: left;
		width: 64px;
		height: 64px;
		background: #ddd;
		opacity: .3;
		opacity: 1;
		.transition(opacity, 400ms, ease);
		position: relative;
	}
	.floor-forest .icon{
		background: url('/forest-floor.png') no-repeat top left;
		position: absolute;
		height: 132px;
		width: 64px;
	}
	.center .hero{
		background: url('/hero.png') no-repeat top left;
		position: absolute;
		height: 123px;
		width: 64px;
		margin: -64px 0 0; 
		z-index: 2;
	}
	.chest .chest-icon{
		background: url('/chest.png') no-repeat top left;
		position: absolute;
		height: 64px;
		width: 64px;
	}
	.skeleton .skeleton-icon{
		background: url('/chest.png') no-repeat top left;
		position: absolute;
		height: 64px;
		width: 64px;
	}
	.visible{
		opacity: 1;
	}
	/*
[data-background=green]{
		background: #aeee00;
	}
	[data-background=green-2]{
		background: #8cb618;
	}
	[data-background=teal]{
		background: #00ee8c;
	}
	[data-background=teal-2]{
		background: #1bb374;
	}
*/
	.center{
		background: #333;
	}
}
